{% extends 'base.html.twig' %}

{% block title %}Réinisialisation du mot de passe{% endblock %}

{% block body %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/styleFrontAll.css') }}">
        <style>
        </style>
    {% endblock %}

    <div class="row text-center">
        <div class="col p-5 text-center" style="min-height: 14rem;">
            <h2 class="name-site">FindACoach</h2>
            <h1 class="display-4" style="font-size: 2.5em;">Réinitialisation mot de passe</h1>
        </div>
    </div>


    <div class="container">

        <div class="row justify-content-center">
            <img class="mb-5" src="{{ asset('cadena-1.png') }}" alt="" style="height: 150px;">
        </div>

        <div class="row justify-content-center">
        <div class="col-4">
            <form method="post" class="form-group">
                <input type="email" placeholder="email" name="email" class="form-control">
                <button class="btn btn-sm btn-outline-primary mt-3">Envoyer</button>
            </form>
        </div>
        </div>


    </div>{#CONTAINER#}

{% endblock %}