{% extends 'base.html.twig' %}

{% block title %}Réinisialisation du mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <form method="post">
            <input type="email" placeholder="email" name="email">
            <button>Envoyer</button>
        </form>
    </div>

{% endblock %}