
.col-form-label {
    color: rgba(255, 255, 255, 0.9);
}
.required {
    color: rgba(255, 255, 255, 0.9);
}
.card {
    border: solid 1px black;
}
.card-header {
    background: #426e93;

}
.card-body {
    background-color: rgba(0, 0, 0, .9);
}