{% extends 'base.html.twig' %}

{% block title %}Confirmation email{% endblock %}

{% block body %}

    <div class="row text-center mb-5">
        <div class="col-12 p-5" style="min-height: 14rem; background: #6faae2">
            <h1 class="display-4 mt-5">Confirmation</h1>
        </div>
    </div>

    <div class="container ">

        <div class="row justify-content-center">
            <div class="col-10 border border-primary rounded p-5 text-center">
                Nous vous avons envoyé un email de confirmation pour nous rejoindre dans cette grande aventure.
                <br>
                <a class="btn-sm border-primary text-primary m-3" href="{{ path('app_login')}}">Se connecter</a>

            </div>
        </div>


    </div>
{% endblock %}
