{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
       {{ fichefull.nom }}
    </div>

    <div>
        {{ form_start(formRdv) }}
        {{ form_rest(formRdv) }}
        <button>Réserver</button>
        {{ form_end(formRdv) }}
    </div>
{% endblock %}
