{% extends 'base.html.twig' %}

{% block title %}Fais ta fiche PD de Coach{% endblock %}

{% block body %}

    <div class="row text-center mb-5">
        <div class="col-12 p-5" style="min-height: 14rem; background: #6faae2">
            <h1 class="display-4 mt-5">Compte Coach</h1>
        </div>
    </div>

{% if is_granted("ROLE_COACH") and error == false %}
<div class="container">
 {{ form_start(ficheCoach) }}
 {{form_rest(ficheCoach)}}
<button class='btn btn-primary' type="submit">Envoyer</button>
 {{ form_end(ficheCoach) }}
</div>
{% else %}
    <h2>Vous n'avez pas accès à cette partie</h2>
    <a href="{{path('home')}}">Lien vers menu principal</a>
{% endif %}

{% endblock %}