{# templates/emails/registration.html.twig #}
<h3>Confirmation de l'inscription</h3>

 {{ pseudo }}!, vous avez réussi l'inscription c'est bien, veuillez confirmer votre compte s'il vous plait.

{{ token }}

Cordialement.

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('images/logo.png')) }}" alt="">