{# templates/emails/registration.html.twig #}
<h3>Bienvenue {{ pseudo }} !</h3>
CLIENT
Bienvenue dans notre grande aventure !

N'oubliez pas de remplir votre fiche pour être visible auprès de vos futurs coachs pour voir souffrir en parsimonie et devenir plus fort tel un boeuf.

<a href="http://127.0.0.1:8000/login">Se connecter</a>

Cordialement.

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('images/logo.png')) }}" alt="">